/* src/index.css */

:root {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans TC", Arial, sans-serif;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
